<div>
    
    <div style="border: solid 1px grey; width: 90%; margin: 5% auto 0 auto; border-radius: 50px; box-shadow: 4px 4px 8px rgba(246, 243, 243, 0.3); box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);">
        <div class="container">
            <br><br><br><br>
           <div style="align-items:center;"> 
            <h2>Change Password</h2>
            </div>
            <br>
        
            
                <div class="row">

                    <div class="col-md-12">
                        <div class="well">
                            <form action="#" class="form-horizontal" id="FormChangePassword" method="post" role="form">
                                <input name="" type="hidden"
                                    value="">
                                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                    <ul>
                                        <li style="display:none"></li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="OldPassword">Current password</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true"
                                            data-val-required="The Current password field is required." id="OldPassword"
                                            name="OldPassword" required="required" type="password">
                                        <span class="field-validation-valid" data-valmsg-for="OldPassword"
                                            data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="NewPassword">New password</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true"
                                            data-val-length="The New password must be at least 6 characters long."
                                            data-val-length-max="50" data-val-length-min="6"
                                            data-val-required="The New password field is required." id="NewPassword"
                                            name="NewPassword" required="required" type="password">
                                        <span class="field-validation-valid" data-valmsg-for="NewPassword"
                                            data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="ConfirmPassword">Confirm New
                                        Password</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true"
                                            data-val-equalto="The new password and confirmation password do not match."
                                            data-val-equalto-other="*.NewPassword" id="ConfirmPassword"
                                            name="ConfirmPassword" required="required" type="password">
                                        <span class="field-validation-valid" data-valmsg-for="ConfirmPassword"
                                            data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <br>
                                
                                <div class="form-group">
                                    <div class="txtcenter">
                                        <a href="javascript:history.go(-1)" class="btn btn-default">Cancel</a>
                                        &nbsp;<input type="submit" value="Change password" class="btn btn-success">
                                    </div>
                                </div>
                            </form>

                            <br>

                            <div id="PasswordInfo">

                            </div>


                        </div>
                    </div>

                    <div class="col-sm-5 text-left">

                    </div>
                </div>
    

        </div>



        <br><br><br>
        <footer class="container"></footer>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="box-shadow: 0 3px 5px black;">

        <div class="container">
            <a class="navbar-brand" href="/Company/Dashboard">
                <img src="assets/image/NUPRC_logo.png" width="120" height="80" class="d-inline-block align-top" alt="BHP Image Logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-between collapse" id="navbarsExample07" aria-expanded="false"
                style="display: flex;">
    
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Company/Dashboard"> Dashboard <span class="sr-only">())</span></a>
                    </li>
    
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Applications</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="/Company/Apply">Apply</a>
                            <a class="dropdown-item" href="/Company/MyApplications">My Applications</a>
                        </div>
                    </li>
    
    
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">My Account <b class="badge badge-warning"
                                id="NotifyCount">0</b> </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="/Company/CompanyInformation">Company Profile</a>
                            <a class="dropdown-item" href="/Auth/ChangePassword">Change Password</a>
                            <a class="dropdown-item" href="/Company/Messages">Messages</a>
                            <a class="dropdown-item" href="/Company/MySchedule"> My Schedule <b class="badge badge-warning"
                                    id="ScheduleCount">0</b> </a>
    
                        </div>
                    </li>
    
                    <li class="nav-item active">
                        <a class="nav-link" href="/Company/MyPermits"> My Permits</a>
                    </li>
    
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Template<b class="badge badge-warning" id=""></b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="/Company/TemplateADownload"><i class="fas fa-download"></i>
                                Download Template A</a>
                            <a class="dropdown-item" href="/Company/TemplateBDownload"><i class="fas fa-download"></i>
                                Download Template B</a>
    
                        </div>
                    </li>
    
                </ul>
    
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-warning" href="/Company/CompanyInformation"> <i class="fa fa-user">
                            </i><b> b</b> <span class="sr-only">(current)</span></a>
                    </li>
    
                    <li class="nav-item active">
                        <a class="nav-link" href="/Auth/Logout"> <i class="fa fa-power-off"> </i> Logout <span
                                class="sr-only">()</span></a>
                    </li>
    
                </ul>
    
            </div>
        </div>
    </nav>
