<div style="background-color: rgb(2, 30, 56); color: white; display: flex; position: fixed; width: 100%;">
    <div class="divmid" style="margin-right: 100px;">
        <img src="assets/image/NUPRC_logo.png" style="width: 100px;" alt="NUPRC Logo">
        <div>
            <span style="font-size: 30px; color: goldenrod">AUS2</span>
        </div>
    </div>
    <div style="display: flex; align-items: center; width: 100%;">

        <div style="display: flex">
            <div>
                <span>Dashboard</span>
            </div>
            <div>
                <span (click)="showApply()">Applications</span>
                
                <div *ngIf="showapply" (click)="showApply()" style="background-color: whitesmoke; display: block; text-align: center;">
                    <span href="/Company/Apply">Apply</span><br>
                    <span href="/Company/MyApplications">My Applications</span>
                </div>
            </div>


            <div>
                <span (click)="showAccount()" class="nav-link dropdown-toggle"> My Account </span>
                <div *ngIf="showaccount" (click)="showAccount()" style="background-color: whitesmoke; text-align: start; z-index: 3; display: block; position: fixed;">
                    <span [routerLink]="['/' + genk.company, 'companyprofile']">Company Profile</span><br>
                    <span href="/Auth/ChangePassword">Change Password</span><br>
                    <span href="/Company/Messages">Messages</span><br>
                    <span href="/Company/MySchedule"> My Schedule <b class="badge badge-warning" id="ScheduleCount">0</b> </span>

                </div>
            </div>

            <div>
                <span> My Permits</span>
            </div>

            <div>
                <span>Template</span>
                <div>
                    <span Download Template A></span>
                    <span> Download Template B</span>
                </div>
            </div>

        </div>

        <div style="display: flex; margin: 0 40px 0 auto;">
            <div class="divmid" style="margin-right: 20px;">
                <span class="material-icons">person</span><span> Bisipopool</span>
            </div>

            <div (click)="logout()" class="divmid" st>
                <span class="material-icons">power_settings_new</span><span> Logout</span>
            </div>

        </div>

    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
