


<div>
    <div style="width: 86%; margin: auto;">
      <div style="display: flex; padding: 20px 0">
        <div>
            <h2 style=" font-size: 30px">Hello, Welcome</h2>
            <b style="color: goldenrod; font-size: 30px">Bisipopool</b>
        </div>

        <div style="margin-left: 50px;">
            <div class="divmid" style="padding: 10px;">
                <div style="border: solid 1px grey; border-radius: 10px;">
                    <div>
                        <b style="font-size: 80px;">0</b>
                    </div>
                    <div>
                        <b>Application(s)</b>
                    </div>

                </div>

                <div>
                    <div>
                        <b>0</b>
                    </div>
                    <div>
                        <br>
                        On Processing
                    </div>
                </div>

                <div>
                    <div>
                        <b>0</b>
                    </div>
                    <div>
                        <br>
                        Total Approval(s)
                    </div>
                </div>

                <div>
                    <div>
                        <b>0</b>
                    </div>
                    <div>
                        <br>
                        N/B
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br>


    <div>

        <h4 class=""> Notification(s) </h4>

        <p class="text-danger"> Find new updates about your applications here.</p>

        <hr>

                <div class="alert alert-info">
                    <p>Enter your Request  <a href="/Company/CreateResultForm/TWc9PQ==" class="btn-sm btn btn-success"><i class="fas fa-address-card"></i> <b>How can we assist you     </b></a> Enter your feedback.</p>
                </div>
    </div>

            <br>

            <div class="row">

                <div class="col-sm-9">

                    <h5> Recent Message(s) </h5>

                    <table class="table table-hover table-bordered" style="font-size:medium">

                        <thead class="" style="background:#c7924c;color: #fff">
                            <tr>
                                <th> Seen </th>
                                <th> Subject </th>
                                <th> Date </th>
                            </tr>
                        </thead>

                        <caption> <a href="/Company/Message/TWc9PQ==/TVRZPQ==" target="_blank" class="text-dark"> No Application Messages Only - See More </a> </caption>

                        <tbody>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRZPQ==" target="_blank" style="color:rgb(71, 52, 2)"> No Application Approved Yet  </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM</td>
                                        </tr>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRVPQ==" target="_blank" style="color:rgb(71, 52, 2)"> No Application Approved Yet </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM</td>
                                        </tr>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRRPQ==" target="_blank" style="color:rgb(71, 52, 2)rod"> No Application Approved Yet </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM</td>
                                        </tr>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRNPQ==" target="_blank" style="color:rgb(71, 52, 2)"> No Application Approved Yet </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM</td>
                                        </tr>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRJPQ==" target="_blank" style="color:rgb(71, 52, 2)"> No Application Approved Yet </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM</td>
                                        </tr>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRFPQ==" target="_blank" style="color:rgb(71, 52, 2)"> No Application Approved Yet </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM</td>
                                        </tr>
                                        <tr style="background:#e7f8ef">
                                            <td>
                                                    <i class="fas fa-envelope text-primary"></i>
                                            </td>

                                            <td>
                                                <a href="/Company/Message/TWc9PQ==/TVRBPQ==" target="_blank" style="color:rgb(71, 52, 2)"> No Application Approved Yet </a>
                                            </td>

                                            <td> 04/26/2022 00:00:00 AM:</td>
                                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-3">

                    <h5> My Approval(s) </h5>

                    <table class="table table-bordered table-hover" style="font-size:smaller">

                        <thead>
                            <tr>
                                <th> No Available Approval  </th>
                            </tr>
                        </thead>

                        <tbody>

                                    <tr>
                                        <td>
                                            <p><b class="text-primary"> NUPRC</b></p>

                                            <div>
                                                <a class="btn btn-dark btn-sm" href="/Review" target="_blank"> <i class="fa fa-eye"> </i> View updates </a>
                                                <a class="btn btn-warning btn-sm" href="/Review" target="_blank"> <i class="fa fa-file-download"> </i> Download updates </a>
                                            </div>
                                        </td>
                                    </tr>

                        </tbody>

                        <caption>  </caption>

                    </table>

                </div>
            </div>


        </div>
    <br><br>

    <footer class="container text-center">

        Copyright © Nigerian Upstream Petroleum Regulatory Commission
    </footer>

    <br><br>
