 
        <div>
            

    <style>
        body {
            margin: 0;
            font-family: Arial;
            font-size: 17px;
            height: 100%;
        }

        .contents {
            bottom: 0;
            width: 100%;
            
            color: black;
            
            min-height: 100%;
            
        }

    
    </style>

    

        <!-- <div class="contents2" id="mobilePage">
            
            <div class="container text-center">
                <br> <small> <b class="text-success"> Nigerian Upstream Petroleum Regulatory Commission </b></small><br>
                <img src="/images/coa.png" style="height:100px; padding:1px">
                <h2 class="text-center" style="font-weight:bolder;">NUPRC</h2>
                <br>
                <div class="text-center">
                    Nigerian Upstream Petroleum Regulatory Commission
                </div>
                <br>
                <div class="text-center">
                    (NUPRC)
                </div>

                <br><br>

                <div class="col-sm-12 text-center" style="padding:5px">

                    <div class="row">

                        <div class="col-sm-12">
                            <a href="https://elpsdemo.dpr.gov.ng//Account/Login?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="ui button medium green btn-block"> Portal Login </a>
                            <p><br></p>
                        </div>

                        <div class="col-sm-12">
                            <a href="https://elpsdemo.dpr.gov.ng//Account/Register?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="ui button medium blue btn-block"> Portal Registration </a>
                            <p><br></p>
                        </div>

                        <div class="col-sm-12">
                            <a href="https://elpsdemo.dpr.gov.ng//Permit/VerifyPermit?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="ui button medium orange btn-block"> Verify License </a>
                            <p><br></p>
                        </div>

                    </div>
                    <br>
                </div>

                <b></b>
            </div>
        </div> -->
 <div class="contents">

            <div class="text-center">
                
                <img src="assets/image/NUPRC Logo - 2.JPG" class="rounded-circle" style="height:220px">

                
                <div>
                    Nigerian Upstream Petroleum Regulatory Commission
                </div>
                <div class="text-center">
                    (NUPRC)
                </div>

                <br>

                <div class="text-center" style="width: 100%; padding:5px;">
                    <a href="https://elpsdemo.dpr.gov.ng//Account/Login?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="btn btn-lg btn-success"> <b>Portal Login</b> </a>
                    <a href="https://elpsdemo.dpr.gov.ng//Account/Register?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="btn btn-lg btn-success" style="margin: 15;"> <b>Portal Registration</b> </a>
                    <a href="https://elpsdemo.dpr.gov.ng//Permit/VerifyPermit?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="btn btn-lg btn-warning">  <b>Verify License</b>  </a>
                    <br>
                </div>


               

                <div style="width: 100%; text-align: center; display: flex; justify-content: center; margin-top: 20px;">
                    <div style="width: 80%; display: flex; justify-content: space-evenly; background-color: rgb(173, 165, 148); padding: 10px; border-radius: 25px;">

                        <div style="border: solid 2px rgb(230, 13, 13); width: 15%;">
                            <h6><b>Step by Step</b></h6>
                            <br>
                            <img src="assets/image/icon-lg1.png" class="rounded-circle" style="height:120px">
                            <br><br>
                            <div style="line-height:30px">
    
                                <a href="https://dpr.gov.ng/index/wp-content/uploads/2015/04/LP-GUIDELINES-2015-Edition-V.16-04-2015.pdf" target="_blank" class="white">Online Application Guide</a><br>
    
    
                                <a href="https://elps.dpr.gov.ng/Account/ResendEmailActivation?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="white">Resend Activation Email</a><br>
                                <a href="https://elps.dpr.gov.ng/Permit/VerifyPermit?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" class="white">Validating a Permit</a><br>
                                <a href="/faq" class="white">FAQ</a><br>
                            </div>
                        </div>
    
    
                        <div style="border: solid 2px red; width: 15%;">
                            <h6 class="text-danger"><b>Payment Processor</b></h6>
                            <br>
                            <img src="/assets/image/remita2.png" class="rounded-circle" style="height:120px">
                            <br><br>
                            <div style="line-height:15px">
                                <p>
                                    Cash Deposit
                                </p>
                                <p>
                                    Bank Draft
                                </p>
                                <p> MasterCard, Verve, Visa</p>
                                <p> Internet Banking</p>
                                <p> Mobile Wallet</p>
    
                            </div>
                        </div>
    
    
    
                        <div style="border: solid 2px red; width: 15%;">
                            <h6><a href="https://elpsdemo.dpr.gov.ng//Account/Register?appId=8edbea6c-fec6-4b68-828d-0731abeb0283" ><b>Company Registration</b></a></h6>
                            <br>
                            <img src="assets/image/icon-lg2.png" class="rounded-circle" style="height:120px">
                            <br><br>
                            <p style="line-height:30px">
                                Create account to use resources on this portal. Note that Account creation
                                is not required to validate a permit.
                            </p>
                        </div>
    
    
    
                        <div style="border: solid 2px red; width: 15%;">
                            <h6><a href="https://elpsdemo.dpr.gov.ng//Account/Login?appId=8edbea6c-fec6-4b68-828d-0731abeb0283"><b>Account Login</b></a></h6>
                            <br>
                            <img src="assets/image/icon-lg3.png" class="rounded-circle" style="height:120px">
                            <br><br>
                            <p style="font-size:13px; line-height:30px"> Login to apply for a new license, renew or manage your NUPRC account</p>
                        </div>

                </div>
                
                </div>
                <div class="mylivechat_expanded_outer" style="display: none;"><div><div class="mylivechat_expanded_title" style="background-color: rgb(2, 117, 216); border: 0px solid rgb(32, 112, 176); color: white;"></div></div></div><div class="mylivechat_buttonround" title="Send us a message" style="position: relative; background-color: rgb(2, 117, 216); color: rgb(255, 255, 255); border-radius: 99px !important; margin-left: auto; width: 52px; top: 1px; height: 52px;"><img alt="round button" src="https://a2.mylivechat.com/Customization/Template/InlineChatRoundOnline_1.png" style="position: absolute; width: 24px; left: 14px; top: 14px;"></div>
            

                <div style="text-align: center;">
                    <span>@ 2022 - Nigerian Upstream Petroleum Regulatory Commision. All Rights Reserved.</span>
                </div>
            </div>
        </div>

        <!-- <img alt="round button" src="https://a2.mylivechat.com/Customization/Template/InlineChatRoundOnline_1.png" style="position: absolute; width: 24px; height: 24px; left: 14px; top: 14px;"> -->


    






            <br>
            <hr>
            <footer class="container"></footer>
        </div>


    




<script type="text/javascript">
    function add_chatinline() { var hccid = 89311022; var nt = document.createElement("script"); nt.async = true; nt.
    src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
    add_chatinline();
</script>