.overlapbox {
    position: relative;
}
.overlapbox img {
    display: block;
}
.overlapbox .overlapdiv {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30%;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.4); /* Could be more or less, depending on screen size */
  }